<div class="row">
    <div class="col-12">
        <div class="pt-5">
            <h2>Recently Added Institution</h2>
            <small>Welcome to VERE360 admin dashboard.</small>
        </div>
    </div>
</div>
<div class="row mt-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <!-- <th scope="col" class="border-0"></th> -->
                <th scope="col" class="border-0 table-head">INSTITUTION NAME</th>
                <th scope="col" class="border-0">TUTORS</th>
                <th scope="col" class="border-0">STUDENTS</th>
                <th scope="col" class="border-0">ADDED ON</th>
                <th scope="col" class="border-0">CITY</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <div class="d-flex">
                        <div class="pretty p-icon p-round p-smooth mt-4">
                            <input type="checkbox" />
                            <div class="state p-success">
                                <i class="icon mdi mdi-check"></i>
                                <label></label>
                            </div>
                        </div>
                        <img class="avatar ml-4" src="../../assets/images/uiface.png">
                        <div class="ml-4">
                            <h6>Technical University of Munich</h6>
                            <small style="font-weight: 500;">Active 3 days ago</small>
                        </div>
                    </div>
                </th>
                <td>976</td>
                <td>578</td>
                <td>19 Sep 2018</td>
                <td>
                    <img src="../../assets/images/flag.png"> HUSTON
                </td>
                <td class="d-flex justify-content-around">
                    <img src="../../assets/images/ban.svg" class="px-2" style="visibility: hidden;">
                    <div class="dropdown">
                        <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                            <img src="../../assets/images/menu.svg" alt="menu">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: -50px;">
                            <a class="dropdown-item" href="#">Update</a>
                            <a class="dropdown-item" href="#">Delete</a>
                            <a class="dropdown-item" href="#">View</a>
                            <a class="dropdown-item" href="#">Block/Unblock</a>
                        </div>

                    </div>
                </td>

            </tr>
            <tr>
                <th scope="row">
                    <div class="d-flex">
                        <div class="pretty p-icon p-round p-smooth mt-4">
                            <input type="checkbox" />
                            <div class="state p-success">
                                <i class="icon mdi mdi-check"></i>
                                <label></label>
                            </div>
                        </div>
                        <img class="avatar ml-4" src="../../assets/images/uiface.png">
                        <div class="ml-4">
                            <h6>Technical University of Munich</h6>
                            <small style="font-weight: 500;">Active 3 days ago</small>
                        </div>
                    </div>
                </th>
                <td>976</td>
                <td>578</td>
                <td>19 Sep 2018</td>
                <td>
                    <img src="../../assets/images/flag.png"> HUSTON
                </td>
                <td class="d-flex justify-content-around">
                    <img src="../../assets/images/ban.svg" style="visibility: hidden;">
                    <div class="dropdown">
                        <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                            <img src="../../assets/images/menu.svg" alt="menu">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: -50px;">
                            <a class="dropdown-item" href="#">Update</a>
                            <a class="dropdown-item" href="#">Delete</a>
                            <a class="dropdown-item" href="#">View</a>
                            <a class="dropdown-item" href="#">Block/Unblock</a>
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="d-flex">
                        <div class="pretty p-icon p-round p-smooth mt-4">
                            <input type="checkbox" />
                            <div class="state p-success">
                                <i class="icon mdi mdi-check"></i>
                                <label></label>
                            </div>
                        </div>
                        <img class="avatar ml-4" src="../../assets/images/uiface.png">
                        <div class="ml-4">
                            <h6>Technical University of Munich</h6>
                            <small style="font-weight: 500;">Active 3 days ago</small>
                        </div>
                    </div>
                </th>
                <td>976</td>
                <td>578</td>
                <td>19 Sep 2018</td>
                <td>
                    <img src="../../assets/images/flag.png"> HUSTON
                </td>
                <td class="d-flex justify-content-around">
                    <img src="../../assets/images/ban.svg" class="px-2" style="visibility: hidden;">
                    <div class="dropdown">
                        <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                            <img src="../../assets/images/menu.svg" alt="menu">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: -50px;">
                            <a class="dropdown-item" href="#">Update</a>
                            <a class="dropdown-item" href="#">Delete</a>
                            <a class="dropdown-item" href="#">View</a>
                            <a class="dropdown-item" href="#">Block/Unblock</a>
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="d-flex">
                        <div class="pretty p-icon p-round p-smooth mt-4">
                            <input type="checkbox" />
                            <div class="state p-success">
                                <i class="icon mdi mdi-check"></i>
                                <label></label>
                            </div>
                        </div>
                        <img class="avatar ml-4" src="../../assets/images/uiface.png">
                        <div class="ml-4">
                            <h6>Technical University of Munich</h6>
                            <small style="font-weight: 500;">Active 3 days ago</small>
                        </div>
                    </div>
                </th>
                <td>976</td>
                <td>578</td>
                <td>19 Sep 2018</td>
                <td>
                    <img src="../../assets/images/flag.png"> HUSTON
                </td>
                <td class="d-flex justify-content-around">
                    <img src="../../assets/images/ban.svg" class="px-2" style="visibility: visible;">
                    <div class="dropdown">
                        <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                            <img src="../../assets/images/menu.svg" alt="menu">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: -50px;">
                            <a class="dropdown-item" href="#">Update</a>
                            <a class="dropdown-item" href="#">Delete</a>
                            <a class="dropdown-item" href="#">View</a>
                            <a class="dropdown-item" href="#">Block/Unblock</a>
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="d-flex">
                        <div class="pretty p-icon p-round p-smooth mt-4">
                            <input type="checkbox" />
                            <div class="state p-success">
                                <i class="icon mdi mdi-check"></i>
                                <label></label>
                            </div>
                        </div>
                        <img class="avatar ml-4" src="../../assets/images/uiface.png">
                        <div class="ml-4">
                            <h6>Technical University of Munich</h6>
                            <small style="font-weight: 500;">Active 3 days ago</small>
                        </div>
                    </div>
                </th>
                <td>976</td>
                <td>578</td>
                <td>19 Sep 2018</td>
                <td>
                    <img src="../../assets/images/flag.png"> HUSTON
                </td>
                <td class="d-flex justify-content-around">
                    <img src="../../assets/images/ban.svg" class="px-2" style="visibility: visible;">
                    <div class="dropdown">
                        <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                            <img src="../../assets/images/menu.svg" alt="menu">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: -50px;">
                            <a class="dropdown-item" href="#">Update</a>
                            <a class="dropdown-item" href="#">Delete</a>
                            <a class="dropdown-item" href="#">View</a>
                            <a class="dropdown-item" href="#">Block/Unblock</a>
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="d-flex">
                        <div class="pretty p-icon p-round p-smooth mt-4">
                            <input type="checkbox" />
                            <div class="state p-success">
                                <i class="icon mdi mdi-check"></i>
                                <label></label>
                            </div>
                        </div>
                        <img class="avatar ml-4" src="../../assets/images/uiface.png">
                        <div class="ml-4">
                            <h6>Technical University of Munich</h6>
                            <small style="font-weight: 500;">Active 3 days ago</small>
                        </div>
                    </div>
                </th>
                <td>976</td>
                <td>578</td>
                <td>19 Sep 2018</td>
                <td>
                    <img src="../../assets/images/flag.png"> HUSTON
                </td>
                <td class="d-flex justify-content-around">
                    <img src="../../assets/images/ban.svg" class="px-2" style="visibility: visible;">
                    <div class="dropdown">
                        <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                            <img src="../../assets/images/menu.svg" alt="menu">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: -50px;">
                            <a class="dropdown-item" href="#">Update</a>
                            <a class="dropdown-item" href="#">Delete</a>
                            <a class="dropdown-item" href="#">View</a>
                            <a class="dropdown-item" href="#">Block/Unblock</a>
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="d-flex">
                        <div class="pretty p-icon p-round p-smooth mt-4">
                            <input type="checkbox" />
                            <div class="state p-success">
                                <i class="icon mdi mdi-check"></i>
                                <label></label>
                            </div>
                        </div>
                        <img class="avatar ml-4" src="../../assets/images/uiface.png">
                        <div class="ml-4">
                            <h6>Technical University of Munich</h6>
                            <small style="font-weight: 500;">Active 3 days ago</small>
                        </div>
                    </div>
                </th>
                <td>976</td>
                <td>578</td>
                <td>19 Sep 2018</td>
                <td>
                    <img src="../../assets/images/flag.png"> HUSTON
                </td>
                <td class="d-flex justify-content-around">
                    <img src="../../assets/images/ban.svg" class="px-2" style="visibility: hidden;">
                    <div class="dropdown">
                        <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                            <img src="../../assets/images/menu.svg" alt="menu">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: -50px;">
                            <a class="dropdown-item" href="#">Update</a>
                            <a class="dropdown-item" href="#">Delete</a>
                            <a class="dropdown-item" href="#">View</a>
                            <a class="dropdown-item" href="#">Block/Unblock</a>
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="d-flex">
                        <div class="pretty p-icon p-round p-smooth mt-4">
                            <input type="checkbox" />
                            <div class="state p-success">
                                <i class="icon mdi mdi-check"></i>
                                <label></label>
                            </div>
                        </div>
                        <img class="avatar ml-4" src="../../assets/images/uiface.png">
                        <div class="ml-4">
                            <h6>Technical University of Munich</h6>
                            <small style="font-weight: 500;">Active 3 days ago</small>
                        </div>
                    </div>
                </th>
                <td>976</td>
                <td>578</td>
                <td>19 Sep 2018</td>
                <td>
                    <img src="../../assets/images/flag.png"> HUSTON
                </td>
                <td class="d-flex justify-content-around">
                    <img src="../../assets/images/ban.svg" class="px-2" style="visibility: hidden;">
                    <div class="dropdown">
                        <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                            <img src="../../assets/images/menu.svg" alt="menu">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: -50px;">
                            <a class="dropdown-item" href="#">Update</a>
                            <a class="dropdown-item" href="#">Delete</a>
                            <a class="dropdown-item" href="#">View</a>
                            <a class="dropdown-item" href="#">Block/Unblock</a>
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="d-flex">
                        <div class="pretty p-icon p-round p-smooth mt-4">
                            <input type="checkbox" />
                            <div class="state p-success">
                                <i class="icon mdi mdi-check"></i>
                                <label></label>
                            </div>
                        </div>
                        <img class="avatar ml-4" src="../../assets/images/uiface.png">
                        <div class="ml-4">
                            <h6>Technical University of Munich</h6>
                            <small style="font-weight: 500;">Active 3 days ago</small>
                        </div>
                    </div>
                </th>
                <td>976</td>
                <td>578</td>
                <td>19 Sep 2018</td>
                <td>
                    <img src="../../assets/images/flag.png"> HUSTON
                </td>
                <td class="d-flex justify-content-around">
                    <img src="../../assets/images/ban.svg" class="px-2" style="visibility: hidden;">
                    <div class="dropdown">
                        <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                            <img src="../../assets/images/menu.svg" alt="menu">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: -50px;">
                            <a class="dropdown-item" href="#">Update</a>
                            <a class="dropdown-item" href="#">Delete</a>
                            <a class="dropdown-item" href="#">View</a>
                            <a class="dropdown-item" href="#">Block/Unblock</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="d-flex">
                        <div class="pretty p-icon p-round p-smooth mt-4">
                            <input type="checkbox" />
                            <div class="state p-success">
                                <i class="icon mdi mdi-check"></i>
                                <label></label>
                            </div>
                        </div>
                        <img class="avatar ml-4" src="../../assets/images/uiface.png">
                        <div class="ml-4">
                            <h6>Technical University of Munich</h6>
                            <small style="font-weight: 500;">Active 3 days ago</small>
                        </div>
                    </div>
                </th>
                <td>976</td>
                <td>578</td>
                <td>19 Sep 2018</td>
                <td>
                    <img src="../../assets/images/flag.png"> HUSTON
                </td>
                <td class="d-flex justify-content-around">
                    <img src="../../assets/images/ban.svg" class="px-2" style="visibility: hidden;">
                    <div class="dropdown">
                        <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                            <img src="../../assets/images/menu.svg" alt="menu">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: -50px;">
                            <a class="dropdown-item" href="#">Update</a>
                            <a class="dropdown-item" href="#">Delete</a>
                            <a class="dropdown-item" href="#">View</a>
                            <a class="dropdown-item" href="#">Block/Unblock</a>
                        </div>

                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>