.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.table-head {
    color: #ef972a;
    font-weight: 700;
}

.custom-control {
    position: relative;
    /* display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem; */
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}

::ng-deep .table-hover tbody tr:hover {
    background-color: white !important;
}


/* Custome checkbox */

::ng-deep .pretty input {
    top: -5px !important;
}

.dropdown-item {
    width: unset;
    padding: .25rem 0 .25rem .25rem;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}