<div class="bg">
    <div class="container">
        <div class="row">
            <section class="col-12 col-md-8">
                <div class="pt-4 pb-3">
                    <img src="../../assets/images/logo@3x.png" class="logo">
                </div>
                <div class="text-white">
                    <h3 class="font-weight">VERE360</h3>
                    <p class="login-head font-weight"> Virtual Experience,
                        <span> Real Empathy </span>
                    </p>
                    <h3 class="pb-2"> Administrator Login </h3>
                </div>
                <div class="text-white">
                    <div class="pb-4">
                        <p> “We are working for a global user needs.. With integros we can set an infrastructure in a very simple way. Projects, folders, playlists, very flexible analytics - everything is great! </p>
                        <div class="d-flex">
                            <img src="../../assets/images/oval.png" class="test-img">
                            <div class="pl-2">
                                <h6>Michael Riley</h6>
                                <small>Head of product, “VERE360”</small>
                            </div>
                        </div>
                    </div>
                    <div class="pb-4"> © 2020 VERE360 Pte Ltd. All Rights Reserved. </div>
                </div>
            </section>
            <section class="col-12 col-md-4" style="margin-top: 120px;">
                <form class="text-white">
                    <p class="pb-2"> Access your account area by filling <br> up the fields below: </p>
                    <div class="form-group message-icon position-relative">
                        <label for="email">Email</label>
                        <input type="text" class="form-control login-input" placeholder="terry.sammy@yahoo.com" required>
                        <img src="../../assets/images/mail.png" alt="message">
                    </div>
                    <div class="form-group message-icon position-relative">
                        <label for="password">Password</label>
                        <input type="text" class="form-control login-input" placeholder="***********">
                        <img src="../../assets/images/lock.png" alt="lock">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="check-control">
                                <input type="checkbox" class="check-control-input">
                                <label for="remember" class="checkbox-lable">Remember Me</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a href="" class="text-white">Forgot Password?</a>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-block bg-white" routerLink="/dashbord">Let's Rock !</button>
                </form>
            </section>
        </div>
    </div>
</div>